.service-background {
    background-image: url("../../assets/images/carServiceBackground.png");
    max-width: 100vh;
    background-repeat: no-repeat;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.green-line {
    background-image: url("../../assets/images/green-line.PNG");
    width: 100%;
    max-width: 770px;
    height: auto;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 10%;
    left: 20%;
}

.blue-line {
    background-image: url("../../assets/images/blue-line.png");
    width: 100%;
    max-width: 770px;
    height: 330px;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 70%;
    left: 42%;
}
@media only screen and (max-width: 600px) {
    .service-background {
        max-width: 450px;
        background-position: center ;

    }

    .blue-line {
        left: 10%;
        top: 78%;
    }

    .green-line {
        top: 10%;
        left: 0;
    }

}